name: Deploy Frontend to EC2

on:
  push:
    branches:
      - main
    paths:
      - 'frontend/**'
      - '.github/workflows/deploy_frontend_to_ec2.yml'
  workflow_dispatch:

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 20.x to Build
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install npm dependencies
        run: npm install
        working-directory: frontend

      - name: Run build task
        run: CI=false npm run build
        working-directory: frontend

      - name: Deploy to EC2
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_KEY }}
          REMOTE_HOST: ${{ secrets.SSH_HOST }}
          REMOTE_USER: ${{ secrets.SSH_USER }}
          REMOTE_PORT: ${{ secrets.SSH_PORT }}
          TARGET: ${{ secrets.SSH_TARGET }}
          SOURCE: "frontend/build/"